@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">

    <div class="card p-4 shadow" style="width: 400px; border-radius: 12px;">

        <h4 class="text-center mb-4"><b>ĐĂNG NHẬP</b></h4>

        <form action="/Account/Login" method="post">
            <!-- USERNAME -->
            <div class="mb-3">
                <label for="inputUsername" class="form-label fw-bold">Tên đăng nhập</label>
                <input type="text" id="inputUsername" name="TenDangNhap"
                       class="form-control border-2 border-dark" required placeholder="Tên đăng nhập">
            </div>

            <!-- PASSWORD -->
            <div class="mb-3">
                <label for="inputPassword" class="form-label fw-bold">Mật khẩu</label>
                <input type="password" id="inputPassword" name="MatKhau"
                       class="form-control border-2 border-dark" required placeholder="Từ 8 - 20 ký tự">
            </div>

            <!-- PASS SAI || USERNAME SAI -->
            @if (ViewBag.Message != null)
            {
                <div class="text-danger mt-2 fw-bold" style="font-size: 0.9rem;">
                    @ViewBag.Message
                </div>
            }

            <!-- LOGIN -->
            <button type="submit" class="btn btn-dark w-100 fw-bold mb-2">
                Đăng nhập
            </button>

            <!-- REGISTER -->
            <a href="/Account/Register" class="btn btn-outline-dark w-100 fw-bold mb-3">
                Đăng ký
            </a>

            <hr />

            <!-- GOOGLE -->
            <a href="/Auth/LoginGoogle" class="btn btn-danger w-100 fw-bold mb-2">
                Đăng nhập bằng Google
            </a>

            <!-- FACEBOOK -->
            <a href="/Auth/LoginFacebook" class="btn btn-primary w-100 fw-bold">
                Đăng nhập bằng Facebook
            </a>

        </form>
    </div>
</div>